# cron logs
cron

# forecast cache
data/**/*.txt

# files with credientials
tphenis/util/email_creds.py

# PyCharm files
.idea

# Virtual environment
venv*
.python-version

# python compiles
__pycache__
